<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <p class="text-black text-center display-2">
                ¡Bienvenido!
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <p class="text-black text-center display-4">
                <mark class="rounded"> {{ authService.user.name }} {{ authService.user.firstSurname }} {{ authService.user.secondSurname }} </mark>
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 25em;">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <p class="text-center">
                <img src="/assets/images/sysMiningLogo.png" class="pr-5 img-fluid" style="width: 505px;" />
            </p>
        </div>
    </div>
</div>